
.Rproj.user/
public/
themes/
.RData
.Rhistory
.hugo_build.lock
Smokelyze.Rproj

# Local Netlify folder
.netlify

# Security: Essential protection for keys and secrets
.env
.env.*
node_modules/
*.json
!package.json
!composer.json
!plugin.json
!manifest.json

